# Gradle files
.gradle/
build/

# Local configuration file (sdk path, etc)
local.properties

# Log/OS Files
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

*.iml
*.ipr
*.iws
.idea/
misc.xml
deploymentTargetDropDown.xml
render.experimental.xml



.dart_tool/
[200~android/app/src/main/res/mipmap-hdpi/ic_launcher2.png
android/app/src/main/res/mipmap-hdpi/ic_launcher2.png
android/app/src/main/res/mipmap-mdpi/ic_launcher1.png
android/app/src/main/res/mipmap-xhdpi/ic_launcher3.png
android/app/src/main/res/mipmap-xxhdpi/ic_launcher2.png
android/app/src/main/res/mipmap-xxxhdpi/ic_launcher1.png
